<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n"/>
	<springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
<!-- 	<property name="APP_NAME" value="${spring.application.name:-undefined}"/> -->
	<property name="APP_NAME" value="${APP_NAME:-undefined}"/>

    <!-- 콘솔 로그 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 하루 단위로 로그 파일 생성 -->
            <fileNamePattern>logs/${APP_NAME}-log-boot-console-%d{yy-MM-dd}.log</fileNamePattern>

            <!-- 최근 14일치 로그 유지 -->
            <maxHistory>14</maxHistory>

            <!-- 전체 용량 제한 (선택) -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    
	<!-- JSON 로그 파일 -->
	<appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- 하루 단위로 로그 파일 생성 -->
	        <fileNamePattern>logs/${APP_NAME}-log-boot-json-%d{yy-MM-dd}.log</fileNamePattern>

            <!-- 최근 14일치 로그 유지 -->
            <maxHistory>14</maxHistory>

            <!-- 전체 용량 제한 (선택) -->
            <totalSizeCap>100MB</totalSizeCap>
	    </rollingPolicy>
	
	    <!-- JSON 인코더 설정 -->
	    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>


    <!-- 루트 로거에 둘 다 연결 -->
<!-- 	<root level="INFO"> -->
<!-- 	    <appender-ref ref="CONSOLE"/> -->
<!-- 	    <appender-ref ref="FILE"/> -->
<!-- 	    <appender-ref ref="JSON_FILE"/> -->
<!-- 	</root> -->

	<!-- 루트 로거: 콘솔 + 일반 텍스트 로그만 출력 -->
	<root level="INFO">
	    <appender-ref ref="CONSOLE"/>
	    <appender-ref ref="FILE"/>
	</root>
	
	<!-- JSON 로그 전용 로거 -->
	<logger name="jsonLogger" level="INFO" additivity="false">
	    <appender-ref ref="JSON_FILE"/>
	</logger>




</configuration>
