.module_content_start-cpu{
display: flex;
justify-content: center;
align-items: center;

}

.total_cpu_count{
width: 240px;
height: 200px;



font-weight: bold;
color: black;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.total_cpu_count_num{
    font-size: 90px;
    a{
        text-decoration: none !important;
        color: rgb(255, 0, 157);
    }
}

.total_cpu_count_num :hover{
    color: rgba(255, 0, 157, 0.2);
    transition: color 0.2s ease;
    a{
        text-decoration: none !important;
        
    }
}


.total_cpu_count_processor{
    margin-top: -8px;
    font-size: 28px;
}

.total_cpu_by_manf{
border: 1px solid blue;
width: 900px;
height: 200px;

}

.module_content_start-cpu {
    display: flex;
    flex-direction: column; /* 기본은 세로 */
    gap: 20px;
  }
  
  /* 화면이 넓어지면 가로 정렬 */
  @media screen and (min-width: 1300px) {

    .module_content_start-cpu {
      flex-direction: row;
    }

  }

  @media screen and (max-width: 1299px) {



    .total_cpu_count {
      flex-direction: row !important;
      width: auto;
      height: auto;
    }

    .total_cpu_count_processor{
        width: 160px  !important;
        font-size: 32px;
        margin-left: 15px;
        margin-top: 24px;
    }

  }


  