
 .Total_Count {

  color : rgb(255, 0, 200);

  }

  .Total_Count_Amount{
 color : rgb(255, 0, 200);

  }
  .Total_Count_Processor{
     color : rgb(255, 0, 200);
  }
.core_nums_core{
  color : rgb(255, 0, 200);
}
.core_texts {
  color : rgb(255, 0, 200);
}


.cpu_chart-total{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;


   

}




.cpu_chart_title{
  height : auto;

 margin : 10px;

     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;

    border : 1px solid blue;


}
.cpu_chart_pie{
  width: auto;
  height : auto;
 margin : 10px;

     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;

    border : 1px solid blue;


}


.cpu_chart_title_each{
width: 600px;
height : 120px;

 font-size : 30px;
   color: rgb(255, 0, 157);
   font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : row;

    border : 1px solid red;
    margin : 5px;

}





.mdi_core_center_graph{
  height : 360px;

 margin : 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;

    margin-left : -40px;
    margin-right : 80px;


}

.mdi_core_center_graph_div{
width: 450px;
height : 100%;



}


.mdi_core_center_graph_div > div {
  height : 100%;
  width: auto;
}









.mdi_core_right_pie{
  height : 500px;

 margin : 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
}


